@{
    ViewBag.Title = "View Profile";
}

@if (ViewBag.Relogin != "true")
{
    <text>

        <br>
        <h5 class="card-header text-center">Click "See Profile" to view the Profile of the signed in User. This feature uses the Hybrid Spa Flow.</h5>
        <br>
        <div class="row" style="margin:auto">
            <div id="card-div" class="col-md-3 d-none">
                <div class="card text-center">
                    <div class="card-body">
                        <div id="profile-div"></div>
                        <br>
                        <br>
                        <button class="btn btn-primary" id="seeProfile" onclick="seeProfile('@ViewBag.SpaAuthCode')">See Profile</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-4">
                <div class="list-group" id="list-tab" role="tablist">
                </div>
            </div>
            <div class="col-md-5">
                <div class="tab-content" id="nav-tabContent">
                </div>
            </div>
        </div>
        <br>
        <br>

    </text>
}
else
{
    <text>
        <h2 class="card-title" id="welcomeMessage">Please sign-in to see your profile.</h2>
        <p>
            The app cannot retrieve your profile until you sign in again. Please click @Html.ActionLink("here", "RefreshSession", "Home") to sign in.
        </p>
    </text>


}

<script type="text/javascript" src="https://alcdn.msauth.net/browser/2.20.0/js/msal-browser.js"></script>

<!-- importing bootstrap.js and supporting js libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- importing app scripts (load order is important) -->
<script type="text/javascript" src="~/Scripts/hybridspa.js"></script>
